@tailwind base;
@tailwind components;
@tailwind utilities;
.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}/* ignore this*/



@keyframes heroZoom {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.05);
  }
}

.animate-heroZoom {
  animation: heroZoom 6s ease-out forwards;
}


@keyframes cardUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-cardUp {
  animation: cardUp 1s ease-out forwards;
}
/* @keyframes heroInfinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-heroInfinite {
  animation: heroInfinite 12s linear infinite;
} */


/* FONT STYLING--------------------------------------- */
@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/aeonik/fonnts.com-Aeonik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Body text uses Mont */
body {
  color: #111;
  font-family: "Aeonik", sans-serif;
}

/* Headings use Aeonik */
h1, h2, h3, h4, h5, h6 {
  font-family: "Mont", sans-serif;
  font-weight: 400; /* Regular weight for headings */
  margin: 0;
}

/* --------------------------------------- */