@tailwind base;
@tailwind components;
@tailwind utilities;
.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}/* ignore this*/
.a2{
  border-width: 1px;
  border-color: red;
  background: #fa07ad1d;
}/* ignore this*/



@keyframes heroZoom {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.05);
  }
}

.animate-heroZoom {
  animation: heroZoom 6s ease-out forwards;
}


@keyframes cardUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-cardUp {
  animation: cardUp 1s ease-out forwards;
}



/* FONT STYLING--------------------------------------- */
@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/aeonik/fonnts.com-Aeonik-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Regular.otf") format("opentype");
  /* font-weight: 400; */
  font-style: normal;
}

/* Body text uses Mont */
body {
  font-family: "questrial", sans-serif;color: #2c2c2c;
}

/* Headings use Inter Tight */
h1, h2, h3, h4, h5, h6 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  margin: 0;
  color: #2c2c2c;
}

/* --------------------------------------- */
.buttons{
    font-family: "Aeonik", sans-serif;font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;letter-spacing: 0.05em;
    text-transform: uppercase;

}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 700ms ease-in-out;
}
::-webkit-scrollbar {
    display: none;
}

.section-heading {
  @apply md:text-4xl;
}

/* md and lower */
@media (max-width: 767px) {
  .section-heading {
    font-size: 1.8rem; /* 30px */
    line-height: 2.2rem;
  }
}
@layer components {
  .btn {
    @apply inline-flex items-center gap-3
      px-6 lg:px-8
      py-3 lg:py-4
      text-xs font-bold uppercase tracking-wider
      rounded-full
      transition-transform
      
      hover:translate-x-1;
  }
}
@layer components {
  .btn-orange {
    @apply bg-ORANGE  text-white border border-transparent;
  }

  .btn-orange:hover { 
    @apply bg-ORANGE2 text-black border-black;
  }
}
@layer components {
  .btn-white {
    @apply bg-white text-black border ;
  }

  .btn-orange:hover {
    @apply bg-gray-100 text-black ;
  }
}
@layer utilities {
  .label-mask {
    width: 100%;
    max-width: 100%;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 500ms ease-out;
  }

  .label-mask-active {
    clip-path: inset(0 0 0 0);
    transition-delay: 700ms; /* sync with flex expand */
  }
}
